.nav-header {
  @include flexend;
  text-transform: uppercase;
  
  @media screen and (min-width: $breakpoint-desktop) {
    text-transform: none;
  }
  
  
  &__nav-link-home, &__nav-link-aboutus{
    padding-left: 2rem;
  }
}