.nav-header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
    text-transform: uppercase;
  
    @media screen and (min-width: $breakpoint-desktop) {
      text-transform: none;
    }
  
  }