@import '../utils/mixins';
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    line-height: 34.22px;
    @include mobile{
        line-height: 17.11px;
        font-size: 12px;
    }
}

a{
    text-decoration: none;
    color: $primary-color;
    @include mobile{
        font-size: 12px
    }
}


main{
    @include margin;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
article{
    width: 33%;
    padding: 3%;
    min-height: 40%;
    @include tab{
        width: 50%;
    }

    @include mobile{
        width: 100%;
        height: 255px;
        padding: 3% 0 3% 0;
    }
}

p{
    vertical-align: middle;
    color: $primary-color;
    font-size: 18px;
    @include mobile{
        font-size: 12px;
    }
}

h2{
    font-size: 18px;
    @include mobile{
        font-size: 13px;
    }
}

ul {
    list-style-type: none;
  }